.upload-box {
  height: 120px;
  top: 30%;
  :global {
    .upload-content {
      display: flex;
      align-items: center;
      .upload-text {
        width: 5em;
        color: $dialog-label-color;
      }
      .upload-container {
        width: 100%;
        .ant-upload {
          width: 100%;
        }
      }

      .ant-input-affix-wrapper .ant-input-suffix {
        right: 0;
        height: 100%;
        width: 40px;
        line-height: 32px;
        border-left: 1px solid $dialog-fieldset-border-color;
        text-align: center;
        cursor: pointer;
        padding: 10px;
      }
    }
  }
}
