$font-family: Microsoft YaHei, SimSun, "Helvetica Neue", Helvetica, Arial, sans-serif;
$gray-bb: #bbbbbb;
$gray-cc: #cccccc;
$gray-e6: #e6e6e6;
$gray-f2: #f2f2f2;
$gray-f9: #f9f9f9;
$gray-fa: #fafcfc;
$gray-f5: #f5f5f5;
$gray-d2: #d2dfe6;
$gray-55: #555555;
$gray-32: #323232;
$gray-7f: #7f8189;
$gray-7c:#7c7e87;
$gray-dd: #dddddd;
$gray-ee: #eeeeee;
$gray-64: #646464;
$gray-32: #323232;
$gray-fc: #fafcfc;
$gray-96: #969696;
$gray-de: #dee0e0;
$blue-79:#79909d;
$blue-3c:#3c4857;
$blue-8b:#8bcdf6;
$blue-ca:#cadbe2;
$blue-15:#15495e;
$black: #000000;
$white: #ffffff;
$green: #00c76c;
$green-32: #29a695;
$green-ce: #cae5e1;
$green-e4: #e4f1f6;
$green-f5: #f5f9fa;
$green-be:#32be6e;
$green-2a:#2aa695;
$red: #eb5352;
$errorred: #e0345a;
$timeout: #fac648;
$success: #38ab97;
$chief_bg_color: #edf0f3;
$main-normal-color:#2d8cc8;
$main-active-color:#f08654;
$main-active-thin-color:#ece1db;
$main-history-active-color:#81bade;
$main-blue-color: #2a83ff;
$main-active-light-color:#f2e3da;
$main-table-hover-color:#fafcfc;

$login-bg-color: #E5E9F4;
$login-main-bg-color: #e3e9f4;
$login-main-border-color: #9ac0f9;
$login-btn-bg-color: #043b56;
$login-box-input-focus: #2a83ff;

$header-font-color: #158c82;
$header-userbg-color: #239da8;

$main-bg-color:#f0f2f2;
$main-bg-liner-color:#cee0d8;

$main-left-bgcolor:#ebf2f5;
$main-left-fontcolor:#2d8cc8;
$main-border-color:#cee5f0;
$main-nav-bgcolor:#e2eff6;
$main-nav-vline-bgcolor:#a3c7d9;
$main-btn-border-color:#4789b3;

$nav-background-color:#0a3f4a;
$tool-bg-color:#dfeaeb;
$nav-activebg-color:#043640;

$operaion-border-color:#c6d5da;
$operaion-dashboard-bg-color:#ebeef0;

$gradient-bg1-color:#22bfaa;

//算子各状态颜色
$operator-normal:#f4c767;
$operaion-outline-selected-bgcolor:#faf4e8;
$operator-correct-port-color:#29a695;

$operator-running:#3c7abe;
$operaion-running-outline-selected-bgcolor:#e3ecf7;

$operator-failed:#e25d5d;
$operaion-failed-outline-selected-bgcolor:#f9e7e7;

$operator-finished:#38ab97;
$operaion-finished-outline-selected-bgcolor:#e4f2f0;

//字体文件变量