/* -------------------------------------顶部logo start*/
.logo{
    display: flex;
    align-items: center;
    img{
        width: 48px;
        height:48px;
    }
    span{
        font-size: 30px;
        color: #2db7f5;
        padding-left: 5px;
    }
}
// 登陆模态框
.login-box{
    .login-form-item{
        
    }
}
/* -------------------------------------顶部logo end*/
/* -------------------------------------footer strat*/
.footer{
    text-align: center;
}
/* -------------------------------------footer end*/