@charset "utf-8";

//浏览器ie版本小于10提示框样式
.browsehappy {
  margin: 0.2em 0;
  background: $gray-cc;
  color: $black;
  padding: 0.2em 0;
}

html,
body {
  font-family: $font-family;
  font-size: 14px;
  background-color: $white;
  height: 100%;
  overflow: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.lead {
  font-size: 21px;
}

.small,
small {
  font-size: 85%;
}

.mark,
mark {
  padding: 0.2em;
  background-color: $public-mark-bg;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-muted {
  color: $public-text-muted;
}

.text-primary {
  color: $public-text-primary;
}

a.text-primary:focus,
a.text-primary:hover {
  color: $public-text-primary-hover;
}

.text-success {
  color: $public-text-success;
}

a.text-success:focus,
a.text-success:hover {
  color: $public-text-success-hover;
}

.text-info {
  color: $public-text-info;
}

a.text-info:focus,
a.text-info:hover {
  color: $public-text-info-hover;
}

.text-warning {
  color: $public-text-warning;
}

a.text-warning:focus,
a.text-warning:hover {
  color: $public-text-warning;
}

.text-danger {
  color: $public-text-danger;
}

a.text-danger:focus,
a.text-danger:hover {
  color: $public-text-danger-hover;
}

.bg-primary {
  color: $white;
  background-color: $public-text-primary;
}

a.bg-primary:focus,
a.bg-primary:hover {
  background-color: $public-text-primary-hover;
}

.bg-success {
  background-color: $public-bg-success;
}

a.bg-success:focus,
a.bg-success:hover {
  background-color: $public-bg-success-hover;
}

.bg-info {
  background-color: $public-bg-info;
}

a.bg-info:focus,
a.bg-info:hover {
  background-color: $public-bg-info-hover;
}

.bg-warning {
  background-color: $public-bg-warning;
}

a.bg-warning:focus,
a.bg-warning:hover {
  background-color: $public-bg-warning-hover;
}

.bg-danger {
  background-color: $public-bg-danger;
}

a.bg-danger:focus,
a.bg-danger:hover {
  background-color: $public-bg-danger-hover;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid $gray-ee;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

dl {
  margin-top: 0;
  margin-bottom: 20px;
}

dd,
dt {
  line-height: 1.42857143;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
}
::-moz-selection {
  background: $blue-18;
  color: $white;
}
::selection {
  background: $blue-18;
  color: $white;
}
/* loading 样式*/
.loadingdiv {
  color: $main-blue-color;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: $black-02;
  text-align: center;
  cursor: progress;
  z-index: 9999;

  & > div {
    @include size(80px, 80px);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px $yellow-d1;
  -webkit-border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  background: $gray-f7;
  -webkit-box-shadow: inset 0 0 6px $yellow-d1;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,255,0.2);
}

::-webkit-scrollbar-thumb:hover{
  background-color:rgba(0,0,255,0.2);
  -webkit-border-radius:4px;
}

::-webkit-scrollbar-corner{
  -webkit-box-shadow: inset 0 0 6px $yellow-d1;
}

#container {
  @include size(100%, 100%);
  min-width: 1000px;
  background: repeating-linear-gradient(
      $white244-01,
      $white244-01 5px,
      transparent 6px,
      transparent 73px,
      $white244-01 74px
  );
  .containerchild {
    @include size(100%, 100%);
    .hasmain {
      @include size(100%, 100%);
    }
  }
}

#chief {
  @include size(100%, 100%);
  background: repeating-linear-gradient(
      90deg,
      $white244-01,
      $white244-01 5px,
      transparent 6px,
      transparent 73px,
      $white244-01 74px
  );
  position: relative;
  overflow: hidden;
}

.input-group {
  display: table;
  border-collapse: separate;
}
