$font-path:        "fonts" !default;
$font-family: "siyuan", "Microsoft YaHei", "SimSun", "Roboto-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
$gray-bb: #bbbbbb;
$gray-cc: #cccccc;
$gray-e6: #e6e6e6;
$gray-ed: #ededed;
$gray-73: #737373;
$gray-55: #555555;
$gray-66: #666666;
$gray-77: #777777;
$gray-f7: #f7f7f7;
$gray-97: #979797;
$gray-99: #999999;
$gray-e8: #e8e8e8;
$gray-de: #dee3eb;
$gray-dd: #dddddd;
$gray-ee: #eeeeee;
$gray-e0: #e0e0e0;
$blue-d3: #d3e6f0;
$blue-84: #84d1f7;
$blue-8b: #8bcdf6;
$blue-04: #043b56;
$blue-18: #1890ff;
$yellow-d1: #d1cfcf;
$black: #000000;
$black-02: rgba(0, 0, 0, 0.2);
$white: #ffffff;
$white244-01: rgba(244, 244, 244, 0.1);
$green: #00c76c;
$red: #eb5352;
$errorred: #e0345a;
$chief_bg_color: #edf0f3;

$public-mark-bg: #fcf8e3;
$public-text-muted: #777;
$public-text-primary: #337ab7;
$public-text-primary-hover: #286090;
$public-text-success: #3c763d;
$public-text-success-hover: #2b542c;
$public-text-info: #31708f;
$public-text-info-hover: #245269;
$public-text-warning: #8a6d3b;
$public-text-warning-hover: #66512c;
$public-text-danger: #a94442;
$public-text-danger-hover: #843534;
$public-bg-success: #dff0d8;
$public-bg-success-hover: #c1e2b3;
$public-bg-info: #d9edf7;
$public-bg-info-hover: #afd9ee;
$public-bg-warning: #fcf8e3;
$public-bg-warning-hover: #f7ecb5;
$public-bg-danger: #f2dede;
$public-bg-danger-hover: #e4b9b9;

$main-normal-color:#2d8cc8;
$main-active-color:#f08654;
$main-active-thin-color:#ece1db;
$main-history-active-color:#81bade;
$main-blue-color: #2a83ff;
$main-active-light-color:#f2e3da;
$main-table-hover-color:#fdf3ee;

$login-bg-color: #E5E9F4;
$login-main-bg-color: #e3e9f4;
$login-main-border-color: #9ac0f9;
$login-box-input-focus: #2a83ff;
$login-btn-bg-color: #2c6cb7;
$login-role-checked: #2a83ff;

$header-bg-color: #1f4071;
$header-active-color: #ffffff;
$header-active-bgcolor: #1f4071;
$header-font-color: #6b9bb2;

$main-left-bgcolor:#ebf2f5;
$main-left-fontcolor:#337ab7;
$main-border-color:#cee5f0;
$main-nav-bgcolor:#e2eff6;
$main-nav-vline-bgcolor:#a3c7d9;
$main-btn-border-color:#4789b3;