.header {
  font-size: 16px;
  @include size(100%, 60px);
  min-width: 1220px;
  background-color: $header-bg-color;
  overflow:hidden;

  & + div {
    width: 100%;
    height: calc(100% - 60px) !important;
    overflow: auto;
  }
  :global{
    .logo {
      @include size(150px, 60px);
      background: url('../../../images/icon.png') 20px 6px no-repeat;
      overflow: hidden;
    }
    .navigation {
      height: 60px;
      overflow: hidden;

      li {
        height:60px;
        padding: 0;
        margin:0 10px;
        line-height: 60px;
        overflow: hidden;

        a {
          @include size(100%, 100%);
          text-decoration: none;
          padding-left: 35px;
          color: $header-font-color;
          display: block;
          position: relative;
          outline: none;

         
          & > .icon {
            @include size(30px, 30px);
            display: inline-block;
            background: url('../../../images/icon.png') right top no-repeat;
            position: absolute;
            left: 0;
            top: 16px;

            &.graph {
              background-position: -471px 3px;
            }
            &.origintable {
              background-position: -476px -44px;
            }
            &.targettable {
              background-position: -476px -90px;
            }
            &.mapping {
              background-position: -476px -136px;
            }
            &.ruleconfig {
              background-position: -476px -182px;
            }
            &.rulemanage {
              background-position: -476px -228px;
            }
            &.verify {
              background-position: -476px -274px;
            }
            &.backup {
              background-position: -409px -42px;
            }
            &.taskscheduling {
              background-position: -409px 3px;
            }
            &.standard {
              background-position: -409px -90px;
            }
            &.knowledge {
              background-position: -409px -136px;
            }
          }

          &:hover,
          &.active-nav {
            color: $header-active-color;
            background-color: $header-active-bgcolor;

            // &.active {
            //   background-color: $header-active-bgcolor;
            // }

            & > .icon {
              &.graph {
                background-position: -221px 3px;
              }
              &.origintable {
                background-position: -226px -44px;
              }
              &.targettable {
                background-position: -226px -90px;
              }
              &.mapping {
                background-position: -226px -136px;
              }
              &.ruleconfig {
                background-position: -226px -182px;
              }
              &.rulemanage {
                background-position: -226px -228px;
              }
              &.verify {
                background-position: -226px -274px;
              }
              &.taskscheduling {
                background-position: -287px 3px;
              }
              &.backup {
                background-position: -287px -42px;
              }
              &.standard {
                background-position: -287px -90px;
              }
              &.knowledge {
                background-position: -287px -136px;
              }
            }
          }
          .ant-badge{
            margin-top: -3px;
            .ant-badge-count {
              color: $white;
              margin-left: 5px;
              background-color: $red;
              box-shadow: none;
              @include transition;
    
              &:hover {
                background-color: $green;
              }
            }
          }
        }
      }
    }
    .headrright {
      height: 60px;
      color: $header-font-color;
      margin-right: 20px;
      overflow: hidden;
      & > div {
        float: left;
      }
      & > div:nth-child(1) {
        padding-right: 5px;
        @include text-overflow();
        text-align: center;
        line-height: 60px;
      }
      & > div:nth-child(n + 2) {
        @include size(40px, 60px);
        line-height: 60px;
        text-align: center;
        cursor: pointer;
        .warning-icon {
          @include keyframes(warning-icon-animation) {
            0% { color:green; }
            50% { color: red; }
            100% { color: green; }
          }
          @include animation(warning-icon-animation 1s 1s infinite);
          &:hover {
            @include animation(paused);
            color: $errorred;
          }
        }
        .fa-power-off {
          cursor: pointer;
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
}
