#app {
  @include size(100%, 100%);
  min-width: 1000px;

  @at-root {

    .app-layout {
      @include size(100%, 100%);
      position: relative;
      overflow: auto;
      main {
        @include size(100%, 100%);
      }
    }

    .chief {
      @include size(100%, 100%);
      background: repeating-linear-gradient(90deg, rgba(244, 244, 244, 0.1), rgba(244, 244, 244, 0.1) 5px, transparent 6px, transparent 73px, rgba(244, 244, 244, 0.1) 74px);
      position: relative;
      overflow: hidden;
    }
  }
}