$icomoon-font-path: "common/fonts" !default;

$ml-icon_fileopen: "\e93b";
$ml-icon_upload: "\e93c";
$ml-icon_add: "\e900";
$ml-icon_catalog_panel_line: "\e901";
$ml-icon_catalog_panel_plane: "\e902";
$ml-icon_checkbox: "\e903";
$ml-icon_clouse: "\e904";
$ml-icon_contrast: "\e905";
$ml-icon_copy: "\e906";
$ml-icon_cut: "\e907";
$ml-icon_delete: "\e908";
$ml-icon_deploy: "\e909";
$ml-icon_edit: "\e90a";
$ml-icon_edition: "\e90b";
$ml-icon_export: "\e90c";
$ml-icon_file: "\e90d";
$ml-icon_format: "\e90e";
$ml-icon_glued: "\e90f";
$ml-icon_image: "\e910";
$ml-icon_jurisdictionmanager: "\e911";
$ml-icon_location: "\e912";
$ml-icon_logoff: "\e913";
$ml-icon_modelenvironment: "\e914";
$ml-icon_more: "\e915";
$ml-icon_new: "\e916";
$ml-icon_nodemanager: "\e917";
$ml-icon_open: "\e918";
$ml-icon_open2: "\e919";
$ml-icon_operator_panel_line: "\e91a";
$ml-icon_operator_panel_plane: "\e91b";
$ml-icon_password: "\e91c";
$ml-icon_play: "\e91d";
$ml-icon_preserve: "\e91e";
$ml-icon_quit: "\e91f";
$ml-icon_reduction: "\e920";
$ml-icon_release: "\e921";
$ml-icon_reporting: "\e922";
$ml-icon_reset: "\e923";
$ml-icon_return: "\e924";
$ml-icon_revoke: "\e925";
$ml-icon_search: "\e926";
$ml-icon_serviceview: "\e927";
$ml-icon_setup: "\e928";
$ml-icon_setup2: "\e929";
$ml-icon_shrink: "\e92a";
$ml-icon_spread: "\e92b";
$ml-icon_statistics: "\e92c";
$ml-icon_stop: "\e92d";
$ml-icon_suspend: "\e92e";
$ml-icon_systemmanager: "\e92f";
$ml-icon_taskmanager: "\e930";
$ml-icon_taskview: "\e931";
$ml-icon_updata: "\e932";
$ml-icon_user: "\e933";
$ml-icon_usergroupmanager: "\e934";
$ml-icon_usermanager: "\e935";
$ml-icon_versionmanager: "\e936";
$ml-icon_workflow: "\e937";
$ml-icon-dataset: "\e938";
$ml-icon-informationview: "\e939";
$ml-icon-txt: "\e93a";