.tablebox-public-common {
  position: relative;
  height: 100%;
  :global{
    .ant-table-pagination.ant-pagination{
      margin-right:20px;
    }
    .ant-table-wrapper {
      .ant-table {
        table {
          table-layout: fixed;
          th,
          td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}