#header {
  font-size: 16px;
  @include size(100%, 60px);
  background-color: $header-bg-color;
  overflow:hidden;

  #logo {
    @include size(50px, 50px);
    background: url("../images/nav-logo.png") center no-repeat;
    background-size:100% 100%;
    overflow: hidden;
    margin-top:5px;
  }
  .navigation {
    height: 60px;
    overflow: hidden;
    padding-left: 30px;


    li {
      @include size(120px, 60px);
      padding: 0;
      line-height: 60px;
      overflow: hidden;

      a {
        @include size(100%, 100%);
        text-decoration: none;
        color: $header-font-color;
        display: block;
        position: relative;
        outline: none;

        &:hover,&.active {
          color: $header-active-color;
        }
      }
    }
  }
  .headrright {
    height: 60px;
    color: $header-font-color;
    margin-right: 20px;
    overflow: hidden;
    & > div {
      float: left;
    }
    & > div:nth-child(1) {
      padding-right: 5px;
      @include text-overflow();
      text-align: center;
      line-height: 60px;
    }
    & > div:nth-child(2) {
      @include size(40px, 60px);
      line-height: 60px;
      text-align: center;
      cursor: pointer;
      .fa-power-off {
        cursor: pointer;
        &:hover {
          color: $white;
        }
      }
    }
  }
}
